{% extends 'layout.html' %}

{% block title %} TourSera | Выбери эмоции {% endblock %}
{% block content %}
<section class="section1 width-full display-flex">
    <div class="name-bio">
        <h1>Индивидуальные туры</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis quo sit repellendus nemo, doloribus culpa! Porro consequuntur asperiores possimus odio natus laboriosam assumenda temporibus consequatur, dicta ipsum illum libero molestias.</p>
    </div>
</section>
<section class="section2 width-full display-flex">

</section>
<section class="section3 width-full display-flex">

</section>
{% endblock %}