{% extends 'layout.html' %}
{% load static %}

{% block title %} TourSera | Выбирай эмоции {% endblock %}
{% block content %}
<section class="section1 width-full display-flex">
    <div class="name-bio">
        <h1>Индивидуальные туры</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis quo sit repellendus nemo, doloribus culpa! Porro consequuntur asperiores possimus odio natus laboriosam assumenda temporibus consequatur, dicta ipsum illum libero molestias.</p>
    </div>
</section>
<section class="section2 imgsection width-full display-flex">
    <div class="sec1-img sec-img">
        <h1>patagonia</h1>
    </div>
</section>
<section class="section3 imgsection width-full display-flex">
    <div class="sec2-img sec-img">
        <h1>hawaii</h1>
    </div>
</section>
<section class="section4 imgsection width-full display-flex">
    <div class="sec3-img sec-img">
        <h1>Zhangjia</h1>
    </div>
</section>
{% endblock %}