<!DOCTYPE html>
<html lang="en">

{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href='{% static "main/css/main.css" %}'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.2/anime.min.js"></script>
</head>
<body class="display-flex">
    <div id="header2" class="width-full"></div>
    <header class="width-full">
        <nav class="display-flex">
            <ul id="ul1">
                <a href="{% url 'about' %}" class="nav-but"><li>О нас</li></a>
                <a href="{% url 'tours' %}" class="nav-but"><li>Туры</li></a>
            </ul>
            <a href="{% url 'home' %}"><h1>tourserΛ</h1></a>
            <ul id="ul2">
                <a href="{% url 'feedbacks' %}" class="nav-but"><li>Отзывы</li></a>
                <a href="{% url 'contacts' %}" class="nav-but"><li>Контакты</li></a>
            </ul>
        </nav>
    </header>
    <main class="display-flex">
        {% block content %}
        {% endblock %}
    </main>
</body>
<script src="/static/main/js/scripts.js"></script>
</html>